ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .logout{
      float: left;
  }

  fieldset{
      display: inline-block;
      padding: 80px;
      text-decoration: none;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  h1{
      color: blue;
      line-height: 10px;
  }

  /* table */
/* spacing */

table {
    display: inline-flexbox;
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid purple;
    font-size: large;
  }
  
  thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 40%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }
  body{
    background-color: aquamarine;
  }
  select{
    background-color: aqua;
    width: 30%;
  }

